global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "traffic_analysis"
    metrics_path: /prometheus
    static_configs:
      - targets: ["traffic-api:8000"]
